{% extends 'base.html' %}
{% load static %}
{% block title %}Boyovut Ixtisoslashtirilgan maktabi{% endblock title %}

{% block content %}
    <!-- Start Slider -->
    <section id="mu-slider">
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="{% static 'assets/img/slider/1.jpg' %}" alt="img">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Welcome To Varsity</h4>
                <span></span>
                <h2>We Will Help You To Learn</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint
                    unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
                <a href="#" class="mu-read-more-btn">Read More</a>
            </div>
        </div>
        <!-- Start single slider item -->
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="{% static 'assets/img/slider/2.jpg' %}" alt="img">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Premiumu Quality Free Template</h4>
                <span></span>
                <h2>Best Education Template Ever</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint
                    unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
                <a href="#" class="mu-read-more-btn">Read More</a>
            </div>
        </div>
        <!-- Start single slider item -->
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="{% static 'assets/img/slider/3.jpg' %}" alt="img">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Exclusivly For Education</h4>
                <span></span>
                <h2>Education For Everyone</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint
                    unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
                <a href="#" class="mu-read-more-btn">Read More</a>
            </div>
        </div>
        <!-- Start single slider item -->
    </section>
    <!-- End Slider -->
    <!-- Start service  -->
    <section id="mu-service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-service-area">
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <span class="fa fa-book"></span>
                            <h3><a href="https://login.emaktab.uz/" class="emaktab-link">E-maktab</a></h3>
                            <a href="https://login.emaktab.uz/" class="emaktab-link">
                                <p>O'quvchilarga. eMaktab maktabda
                                    muvaffaqiyatli bo'lishga yordam beradi. Baholar,
                                    dars jadvali, uy vazifasi, ijodiy topshiriqlar hamisha qo'l ostingda ...
                                </p>
                            </a>
                        </div>
                        <!-- Start single service -->
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <span class="fa fa-users"></span>
                            <a href="#mu-our-teacher" class="bizningustozlar-link"><h3>Bizning ustozlar</h3></a>
                            <a href="#mu-our-teacher" class="bizningustozlar-link"><p>Tajribali va fidoyi o‘qituvchilar
                                jamoasi. Ular o‘quvchilarga sifatli ta’lim berib, bilim olishga
                                ilhomlantiradilar. Tajriba va innovatsion yondashuvlari bilan darslarni samarali va
                                qiziqarli o‘tishadi. 🎓📚</p></a>
                        </div>
                        <!-- Start single service -->
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <span class="fa fa-table"></span>
                            <a href="dars_jadvali.html" class="dars-jadvali-link"><h3>Dars jadvali</h3></a>
                            <a href="dars_jadvali.html" class="dars-jadvali-link"><p>o‘quvchilarning samarali va
                                tartibli ta’lim olishini ta’minlaydi. U har bir fan uchun belgilangan vaqt va tartibni
                                ko‘rsatib,
                                o‘qituvchilar va o‘quvchilarga qulaylik yaratadi. Jadvalga rioya qilish bilim olish
                                jarayonini yanada samarali qiladi. 📅📚</p></a>
                        </div>
                        <!-- Start single service -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End service  -->

    <!-- Start about us -->
    <section id="mu-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-about-us-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-left">
                                    <!-- Start Title -->
                                    <div class="mu-title">
                                        <h2>Maktab haqida </h2>
                                    </div>
                                    <!-- End Title -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum pariatur fuga
                                        eveniet soluta aspernatur rem, nam voluptatibus voluptate voluptates sapiente,
                                        inventore. Voluptatem, maiores esse molestiae.</p>
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                        <li>Saepe a minima quod iste libero rerum dicta!</li>
                                        <li>Voluptas obcaecati, iste porro fugit soluta consequuntur. Veritatis?</li>
                                        <li>Ipsam deserunt numquam ad error rem unde, omnis.</li>
                                        <li>Repellat assumenda adipisci pariatur ipsam eos similique, explicabo.</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat
                                        harum facilis excepturi et? Mollitia!</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-right">
                                    <a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs"
                                       target="mutube-video">
                                        <img src="{% static 'assets/img/about-us.jpg' %}" alt="img">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about us -->

    <!-- Start about us counter -->
    <section id="mu-abtus-counter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-abtus-counter-area">
                        <div class="row">
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single">
                                    <span class="fa fa-book"></span>
                                    <h4 class="counter">{{ numbers.fanlar }}</h4>
                                    <p>Fanlar</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single">
                                    <span class="fa fa-users"></span>
                                    <h4 class="counter">{{ numbers.oquvchilar }}</h4>
                                    <p>O'quvchilar</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single">
                                    <span class="fa fa-flask"></span>
                                    <h4 class="counter">{{ numbers.labaratoriyalar }}</h4>
                                    <p>Labaratoriyalar (yoki boshqa )</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                            <!-- Start counter item -->
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="mu-abtus-counter-single no-border">
                                    <span class="fa fa-user-secret"></span>
                                    <h4 class="counter">{{ numbers.oqituvchilar }}</h4>
                                    <p>O'qituvchilar</p>
                                </div>
                            </div>
                            <!-- End counter item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about us counter -->
    <script>
        /*
          <!-- Start features section -->
          <section id="mu-features">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="mu-features-area">
                    <!-- Start Title -->
                    <div class="mu-title">
                      <h2>Our Features(idea kerak)</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime mollitia, vitae voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat sunt animi!</p>
                    </div>
                    <!-- End Title -->
                    <!-- Start features content -->
                    <div class="mu-features-content">
                      <div class="row">
                        <div class="col-lg-4 col-md-4  col-sm-6">
                          <div class="mu-single-feature">
                            <span class="fa fa-book"></span>
                            <h4>Professional Courses</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                          <div class="mu-single-feature">
                            <span class="fa fa-users"></span>
                            <h4>Expert Teachers</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                          <div class="mu-single-feature">
                            <span class="fa fa-laptop"></span>
                            <h4>Online Learning</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                          <div class="mu-single-feature">
                            <span class="fa fa-microphone"></span>
                            <h4>Audio Lessons</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                          <div class="mu-single-feature">
                            <span class="fa fa-film"></span>
                            <h4>Video Lessons</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                          <div class="mu-single-feature">
                            <span class="fa fa-certificate"></span>
                            <h4>Professional Certificate</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                            <a href="#">Read More</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End features content -->
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End features section -->
        */
    </script>
    <!-- Start latest course section -->
    <section id="mu-latest-courses">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-latest-courses-area">
                        <!-- Start Title -->
                        <div class="mu-title">
                            <h2>To'garaklar</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime
                                mollitia, vitae voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat
                                sunt animi!</p>
                        </div>
                        <!-- End Title -->
                        <!-- Start latest course content -->
                        <div id="mu-latest-course-slide" class="mu-latest-courses-content">
                            {% for togarak in togaraklar %}
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    <div class="mu-latest-course-single">
                                        <figure class="mu-latest-course-img">
                                            <a href="{{ togarak.get_absolut_url }}"><img src="{{ togarak.image.url }}" alt="img"></a>
                                            <figcaption class="mu-latest-course-imgcaption">
                                                <a href="#">{{ togarak.turi }}</a>
                                                <span><i class="fa fa-clock-o"></i>{{ togarak.davomiyligi }}</span>
                                            </figcaption>
                                        </figure>
                                        <div class="mu-latest-course-single-content">
                                            <h4><a href="#">{{ togarak.nomi }}</a></h4>
                                            {{ togarak.body_small|safe }}
                                            <div class="mu-latest-course-single-contbottom">
                                                <a class="mu-course-details" href="#">Ko'proq ko'rish .</a>
                                                <span class="mu-course-price"
                                                      href="#">{{ togarak.boshlanish_sanasi }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <!-- End latest course content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End latest course section -->

    <!-- Start our teacher -->
    <section id="mu-our-teacher">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-our-teacher-area">
                        <!-- begain title -->
                        <div class="mu-title">
                            <h2>O'qituvchilar</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae, suscipit
                                repellat minus molestiae ea.</p>
                        </div>
                        <!-- end title -->
                        <!-- begain our teacher content -->
                        <div class="mu-our-teacher-content">
                            <div class="row">
                                {% for ustoz in ustozlar %}
                                    <div class="col-lg-3 col-md-3  col-sm-6">
                                        <div class="mu-our-teacher-single">
                                            <figure class="mu-our-teacher-img">
                                                <img src="{{ ustoz.image.url }}"
                                                     alt="teacher img">
                                                <div class="mu-our-teacher-social">
                                                    <a href="{{ ustoz.facebook }}"><span class="fa fa-facebook"></span></a>
                                                    <a href="{{ ustoz.twitter }}"><span class="fa fa-twitter"></span></a>
                                                    <a href="{{ ustoz.telegram }}"><span class="fa fa-telegram"></span></a>
                                                    <a href="{{ ustoz.google }}"><span class="fa fa-google-plus"></span></a>
                                                </div>
                                            </figure>
                                            <div class="mu-ourteacher-single-content">
                                                <h4>{{ ustoz.name}} {{ ustoz.last_name }}</h4>
                                                <span>{{ ustoz.turi }} fani o'qituvchisi</span>
                                                <p>{{ ustoz.body|safe}}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End our teacher content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End our teacher -->

    <!-- Start testimonial -->
    <section id="mu-testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-testimonial-area">
                        <div id="mu-testimonial-slide" class="mu-testimonial-content">
                            <!-- start testimonial single item -->
                            {% for iqtibos in iqtibostlar %}
                            <div class="mu-testimonial-item">
                                <div class="mu-testimonial-quote">
                                    <blockquote>
                                        <p>{{ iqtibos.body|safe }}</p>
                                    </blockquote>
                                </div>
                                <div class="mu-testimonial-img">
                                    <img src="{{iqtibos.image.url}}" alt="img">
                                </div>
                                <div class="mu-testimonial-info">
                                    <h4>{{ iqtibos.iqtibost_egasining_ismi }} {{ iqtibos.iqtibost_egasining_ismi }}</h4>
                                    <span>{{ iqtibos.ism }}dan</span>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- end testimonial single item -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End testimonial -->

    <!-- Start from blog -->
    <section id="mu-from-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-from-blog-area">
                        <!-- start title -->
                        <div class="mu-title">
                            <h2>Yangiliklar va tadbirlar</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum vitae quae vero ut natus.
                                Dolore!</p>
                        </div>
                        <!-- end title -->
                        <!-- start from blog content   -->
                        <div class="mu-from-blog-content">
                            <div class="row">
                                {% for yangilik in yangiliklar %}
                                    <div class="col-md-4 col-sm-4">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#"><img src="{{ yangilik.image.url }}"
                                                                 alt="img"></a>
                                                <figcaption class="mu-blog-caption">
                                                    <h3><a href="#">{{ yangilik.nomi }}</a></h3>
                                                </figcaption>
                                            </figure>
                                            <div class="mu-blog-meta">
                                                <a href="#">{{ yangilik.boshlanish_sanasi }}</a>
                                                <span><i class="fa fa-comments-o"></i>87</span>
                                            </div>
                                            <div class="mu-blog-description">
                                                <p>{{ yangilik.body_small|safe }}</p>
                                                <a class="mu-read-more-btn" href="#">KO'PROQ</a>
                                            </div>
                                        </article>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <!-- end from blog content   -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End from blog -->
{% endblock content %}